// Import Bootstrap
@import 'bootstrap/scss/bootstrap';

// Import RemixIcon with updated font paths
@font-face {
  font-family: "remixicon";
  src: url('/fonts/remixicon.woff2') format('woff2'),
       url('/fonts/remixicon.woff') format('woff'),
       url('/fonts/remixicon.ttf') format('truetype');
  font-display: swap;
}

[class^="ri-"], [class*=" ri-"] {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ri-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ri-xxs { font-size: .5em; }
.ri-xs { font-size: .75em; }
.ri-sm { font-size: .875em }
.ri-1x { font-size: 1em; }
.ri-2x { font-size: 2em; }
.ri-3x { font-size: 3em; }
.ri-4x { font-size: 4em; }
.ri-5x { font-size: 5em; }
.ri-6x { font-size: 6em; }
.ri-7x { font-size: 7em; }
.ri-8x { font-size: 8em; }
.ri-9x { font-size: 9em; }
.ri-10x { font-size: 10em; }
.ri-fw { text-align: center; width: 1.25em; }

// Icon definitions (subset of commonly used icons)
.ri-facebook-fill:before { content: "\ecbc"; }
.ri-instagram-fill:before { content: "\ee65"; }
.ri-mail-fill:before { content: "\eef3"; }
.ri-phone-fill:before { content: "\efe9"; }
.ri-shopping-cart-2-line:before { content: "\f11e"; }
.ri-shopping-cart-2-fill:before { content: "\f11d"; }
.ri-menu-line:before { content: "\ef3e"; }
.ri-close-line:before { content: "\eb99"; }
.ri-add-line:before { content: "\ea13"; }
.ri-subtract-line:before { content: "\f1af"; }
.ri-delete-bin-line:before { content: "\ec29"; }
.ri-arrow-left-line:before { content: "\ea60"; }
.ri-check-line:before { content: "\eb7b"; }
.ri-secure-payment-line:before { content: "\f0e7"; }
.ri-bank-card-line:before { content: "\eb0a"; }
.ri-error-warning-line:before { content: "\eca1"; }
